# Python cache
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# Virtual environments
venv/
env/
.venv/

# Databases
*.db
*.sqlite
*.sqlite3

# IDE files
.vscode/
.idea/
.spyderproject
.spyproject
.spyderworkspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
